@use '../card-base' as *;

.chart-wrap {
  pointer-events: none;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(0,0,0,0.02);
  padding: 6px 6px 2px;
  margin-bottom: 4px;
}

.full .chart-wrap {
  padding: 10px 8px 4px;
  pointer-events: auto;
}
